<config>
    <!--Configuration parameters for CargoNetSim-->
    <simulation>
        <shortest_paths>5</shortest_paths>
        <time_step>15</time_step>
        <time_value_of_money>35.000000</time_value_of_money>
    </simulation>
    <fuel_energy>
        <HFO>11.100000</HFO>
        <diesel_1>10.700000</diesel_1>
        <diesel_2>10.000000</diesel_2>
    </fuel_energy>
    <fuel_carbon_content>
        <HFO>3.150000</HFO>
        <diesel_1>2.680000</diesel_1>
        <diesel_2>2.680000</diesel_2>
    </fuel_carbon_content>
    <fuel_prices>
        <HFO>580.000000</HFO>
        <diesel_1>1.350000</diesel_1>
        <diesel_2>1.350000</diesel_2>
    </fuel_prices>
    <carbon_taxes>
        <rate>0.000000</rate>
        <ship_multiplier>1.000000</ship_multiplier>
        <train_multiplier>1.000000</train_multiplier>
        <truck_multiplier>1.000000</truck_multiplier>
    </carbon_taxes>
    <transport_modes>
        <ship>
            <average_container_number>5000</average_container_number>
            <average_fuel_consumption>141.130000</average_fuel_consumption>
            <average_speed>20.000000</average_speed>
            <fuel_type>HFO</fuel_type>
            <risk_factor>0.025000</risk_factor>
        </ship>
        <rail>
            <average_container_number>400</average_container_number>
            <average_fuel_consumption>0.940000</average_fuel_consumption>
            <average_speed>40.000000</average_speed>
            <fuel_type>diesel_1</fuel_type>
            <risk_factor>0.006000</risk_factor>
            <use_network>true</use_network>
        </rail>
        <truck>
            <average_container_number>1</average_container_number>
            <average_fuel_consumption>0.320000</average_fuel_consumption>
            <average_speed>70.000000</average_speed>
            <fuel_type>diesel_2</fuel_type>
            <risk_factor>0.012000</risk_factor>
            <use_network>true</use_network>
        </truck>
    </transport_modes>
</config>
